body{
 margin:0;
 padding: 0 10px;
 max-width:330px;

}
blockquote{

	border-left:2px solid darkgrey;
	background-color:lightgrey;
	margin-left:0;
	height:25px;
	text-align-top:20px;
}

blockquote p{

padding-left:6px;
padding-top:3px;

}